<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$SpyderHunterBot</UserName>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://spyderhunterbot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1f6115f0-17bd-4212-acb4-d5be446719d7/resourcegroups/SpyderHunterBotResourceGroup/providers/Microsoft.Web/sites/SpyderHunterBot</ResourceId>
    <_SavePWD>True</_SavePWD>
    <WebJobType>Triggered</WebJobType>
    <WebJobName>SpyderWeb</WebJobName>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>spyderhunterbot.scm.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <DeployIisAppPath>SpyderHunterBot</DeployIisAppPath>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <_IsPortable>true</_IsPortable>
  </PropertyGroup>
</Project>